<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="STUDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=IBM.Data.DB2;provider connection string=&quot;Database=STUD;User ID=Petra;Password=smece;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.STUDConnectionString"
      connectionString="Database=STUD;User ID=Petra;Password=smece;Persist Security Info=True"
      providerName="IBM.Data.DB2" />
  </connectionStrings>
</configuration>